[Desktop Entry]
Type=Service
Name=txt
Name[ar]=txt
Name[ast]=txt
Name[bg]=txt
Name[bs]=txt
Name[ca]=txt
Name[ca@valencia]=txt
Name[cs]=txt
Name[da]=txt
Name[de]=txt
Name[el]=txt
Name[en_GB]=txt
Name[eo]=txt
Name[es]=txt
Name[et]=txt
Name[eu]=txt
Name[fi]=txt
Name[fr]=Txt
Name[ga]=txt
Name[gl]=txt
Name[hr]=txt
Name[hu]=Txt
Name[ia]=txt
Name[is]=txt
Name[it]=txt
Name[ja]=txt
Name[kk]=txt
Name[km]=txt
Name[ko]=txt
Name[ku]=txt
Name[lt]=txt
Name[lv]=txt
Name[mr]=txt
Name[nb]=txt
Name[nds]=txt
Name[ne]=txt
Name[nl]=txt
Name[nn]=txt
Name[pa]=txt
Name[pl]=txt
Name[pt]=txt
Name[pt_BR]=txt
Name[ro]=txt
Name[ru]=txt
Name[si]=txt
Name[sk]=txt
Name[sl]=txt
Name[sq]=txt
Name[sr@ijekavianlatin]=Txt
Name[sr@latin]=Txt
Name[sv]=txt
Name[tr]=txt
Name[ug]=txt
Name[uk]=txt
Name[vi]=txt
Name[x-test]=xxtxtxx
Name[zh_CN]=txt
Name[zh_TW]=txt
Comment=Txt backend for Okular
Comment[ar]=المنتهى الخلفي Txt لأوكلار
Comment[ast]=Motor Txt pa Okular
Comment[bg]=Ядро на Okular за Txt
Comment[ca]=Dorsal de Txt per a l'Okular
Comment[ca@valencia]=Dorsal de Txt per a l'Okular
Comment[cs]=Implementace Txt pro Okular
Comment[da]=Txt-motor til Okular
Comment[de]=Anzeigemodul für Txt in Okular
Comment[el]=Σύστημα υποστήριξης Txt για το Okular
Comment[en_GB]=Txt backend for Okular
Comment[es]=Motor Txt para Okular
Comment[et]=Okulari Txt taustaprogramm
Comment[eu]=Okular-en Txt motorra
Comment[fi]=Txt-taustaosa Okularille
Comment[fr]=Interface d'Okular pour Txt
Comment[ga]=Inneall Txt le haghaidh Okular
Comment[gl]=Infraestrutura de Txt para Okular
Comment[hne]=ओकुलर बर डीजेवीयू बैकएन्ड
Comment[hr]=Podrška za Txt za Okular
Comment[hu]=Txt-bővítmény az Okularhoz
Comment[ia]=Retro-administration per Txt  pro Okular
Comment[is]=Txt stuðningur fyrir Okular
Comment[it]=Backend Txt per Okular
Comment[ja]=Okular の Txt バックエンド
Comment[kk]=Okular-дың Txt тетігі
Comment[km]=ផ្នែក​ខាង​ក្រោយ Txt សម្រាប់ Okular
Comment[ko]=Okular의 Txt 백엔드
Comment[ku]=Binesazî ya Txt ji bo Okular
Comment[lt]=Txt programinė sąsaja, skirta Okular
Comment[lv]=Txt Okular aizmugure
Comment[mr]=ओक्युलर करिता Txt बॅकएन्ड
Comment[nb]=Txt-motor for Okular
Comment[nds]=Txt-Hülpprogramm för Okular
Comment[nl]=Txt-backend voor Okular
Comment[nn]=Txt-motor for Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ Txt ਬੈਕਐਂਡ
Comment[pl]=Obsługa Txt dla Okulara
Comment[pt]=Infra-estrutura do Txt para o Okular
Comment[pt_BR]=Infraestrutura Txt para o Okular
Comment[ro]=Platformă Txt pentru Okular
Comment[ru]=Модуль поддержки формата Txt для Okular
Comment[sk]=Backend Txt pre Okular
Comment[sl]=Hrbtenica za Txt za Okular
Comment[sq]=Mbështetje për Txt në Okular
Comment[sr@ijekavian]=Позадина ДјВуа за Окулар
Comment[sr@ijekavianlatin]=Pozadina Txta za Okular
Comment[sr@latin]=Pozadina Txta za Okular
Comment[sv]=Txt-gränssnitt för Okular
Comment[th]=แบ็กเอนด์เอกสาร Txt สำหรับโอกูลาร์
Comment[tr]=Okular için Txt arka ucu
Comment[uk]=Додаток Txt для Okular
Comment[x-test]=xxTxt backend for Okularxx
Comment[zh_CN]=Okular 的 Txt 格式后端
Comment[zh_TW]=Okular 的 Txt 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=text/plain;
X-KDE-Library=okularGenerator_txt
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
